h1
 { 
    
    
    color: rgb(45, 72, 11);
    block-size: auto;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}


p 
{  font-size: 18px;
    line-height: 1.5;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35, 122, 18)
}

ul
 { 
    list-style: upper-roman;
    margin: 20px;
}


ol  
  { margin: 20px;     }

button {
    color: black;
    border-color: blanchedalmond;
    border-radius: 5px;
    font-size: large;
    cursor: pointer; 

}

.first 

 { 
    color: rgb(255, 0, 0);
 }

.container 
   {
     max-width: 700px;
     margin:auto;
     padding: 20px;
     background-color: aquamarine;
   }
 
   footer
    {
         background-color: #333;
         color: #fff;
         padding: 0px;
         text-align: center;

   }
 

 



  